@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: #09090b;
    color: #f4f4f5;
    overflow-x: hidden;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Playfair Display', serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

.leaflet-container {
  background: #18181b;
  font-family: 'Inter', sans-serif;
}
